*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EBECED;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
}